.layoutDrop {
  /* width: 100%; */
}
.image {
  width: calc(100% / 2 - 10px);
  margin-bottom: 20px;
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-weight: 600;
  color: red;
  width: 100%;
  text-align: center;
}