* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #d6dee1;
  border: 2px solid transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body::-webkit-scrollbar {
  border-left: 1px solid $nav-tabs-border-color;
}
