@import './bootstrap/bootstrap';
@import './root';

[role='grid']:focus {
  outline: none;
}

/* stylelint-disable-next-line selector-max-id */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import 'scrollbar';
